@import "colors";

html {
  font-family: 'Raleway', sans-serif;
  color: $black;
}

main {
  .title {
    h1 {
      font-size: 54px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }
    span {
      color: $accentColor;
    }
  }
}

@media (max-width: 600px) {
  main {
    .title {
      h1 {
        font-size: 35px;
      }
    }
  }
}
