@import "colors";

.search {
  text-align: center;
  height: 30px;
  input[type="text"] {
    outline: none;
    box-shadow: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid $extraColor;
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    color: $black;
  }

   button {
    outline: none;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    font-size: 21px;
    padding: 7px 20px;
    position: absolute;
    left: 869px;
    top: 152px;
    font-family: 'Raleway', sans-serif;
    background-color: $orange;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.danger {
  color: red;
}
