@import "colors";

.waitingSearch {
  position: absolute;
  left: 500px;
}

.waiting, .waitingSearch {
    .extra {
      color: $extraColor;
    }
    h1, h2 {
    overflow: hidden;
    border-right: .15em solid $orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $orange; }
    }
}

.error {
  position: absolute;
  color: $orange;
  text-align: center;
  width: 100%;
}

@media (max-width: 1210px) {
  .error {
    position: relative;
  }
  .waitingSearch {
    position: static;
    width: 420px;
    margin: 0 auto;
  }
}

@media (max-width: 482px) {
  .waitingSearch {
    left: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .waitingSearch, .waiting {
    width: 100%;
    font-size: 12.5px;
  }
}

@media (min-width: 400px) and (max-width: 480px) {
  .waitingSearch, .waiting {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .waitingSearch, .waiting {
    h1, h2 {
    .hide {
      display: none;
      }
    }
  }
}
